/****************************************************************************/
/* Main Body */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.core {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.core-content {
    min-height: 200px;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 20px;
}

/****************************************************************************/
/* Header */
.header {
    display: flex;
    align-items: center;
    background-color: #1f2937;
    padding: 16px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.header-links {
    margin-left: auto;
}

.header-links a {
    font-size: 18px;
    color: #e5e7eb;
}

/****************************************************************************/
/* Sub Header */
.sub-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    background-color: #1f2937;
    color: #e5e7eb
}

h1 {
    margin: 0;
    padding: 0;
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

button {
    background-color: #3882f6;
    border: 0;
    color: #f9faf8;
}